#root{
  background-color: #282c34;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  position: fixed;
  height: 100%;
  width: 100%
}

.App {
  text-align: center;
  color: white;
  width: 1000px;
}


